# dev
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets

# deps
node_modules/

# env
.env
.env.local

# build outputs
dist/
.next/
.turbo/

# logs
logs/
*.log

# lambda artifacts (will be removed in trigger.dev migration)
apps/api/aws/lambdas/*.cjs
apps/api/aws/lambdas/zips/
